name: CI

on:
    push:
        branches:
            - master
    pull_request:

permissions:
    actions: read
    contents: read

jobs:
    main:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - uses: pnpm/action-setup@v4
              name: Install pnpm
              with:
                  run_install: false

            # This enables task distribution via Nx Cloud
            # Run this command as early as possible, before dependencies are installed
            # Learn more at https://nx.dev/ci/reference/nx-cloud-cli#npx-nxcloud-startcirun
            # Connect your workspace by running "nx connect" and uncomment this line to enable task distribution
            # - run: pnpm dlx nx start-ci-run --distribute-on="3 linux-medium-js" --stop-agents-after="build"

            # Cache node_modules
            - uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: "pnpm"

            - run: pnpm install --frozen-lockfile
            - run: pnpm exec playwright install --with-deps chromium
            - uses: nrwl/nx-set-shas@v4

            # Prepend any command with "nx-cloud record --" to record its logs to Nx Cloud
            # - run: pnpm exec nx-cloud record -- echo Hello World
            - run: pnpm exec nx affected -t test build
